

h3{
	white-space: nowrap;
	border: solid 2px;
	width: 150px;
	height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

h2{
	
	border: solid 2px;
	width: 150px;
	height: 50px;
	word-wrap: break-word;

}

h4{
	border: solid 2px;
	width: 150px;
	height: 100px;
	word-break: keep-all;
}