div {
	
	background-image: url('http://images.tapchianhdep.net/15-12nhung-hinh-nen-may-tinh-dep-nhat-va-da-dang1.jpg');
	width: 660px;
	height: 350px;
	padding: 45px;
	background-repeat: no-repeat;
	background-size: 400px, 600px;
}